{% extends 'base.html.twig' %}

{% block title %}TopAchat
{% endblock %}

{% block body %}
	<div class="container">
		<div class="jumbotron">
			<section class="py-5">
				<div class="container">
					<h1 class="fw-light">Bienvenue sur TopAchat</h1>
					<p class="lead">Votre utilisataire de gestion de matériels de confiance
						<strong>simple,rapide,et efficace !</strong>

						<a href="{{path('product_index')}}">Voir mon bizness</a>
						!</p>
				</div>
			</section>
		</div>
	</div>
    <div class="container">
        <h1>Produits</h1>
        
    </div>
{% endblock %}
