<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
		<link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
	</head>
	{% block stylesheets %}
		{# {{ encore_entry_link_tags('app') }} #}
		<link rel="stylesheet" href="../../css/app.css" type="text/css">
		<link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="../../css/card.css" type="text/css">
		<link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="../../css/elegant-icons.css" type="text/css">
		<link rel="stylesheet" href="../../css/nice-select.css" type="text/css">
		<link rel="stylesheet" href="../../css/magnific-popup.css" type="text/css">
		<link rel="stylesheet" href="../../css/jquery-ui.min.css" type="text/css">
		<link rel="stylesheet" href="../../css/owl.carousel.min.css" type="text/css">
		<link rel="stylesheet" href="../../css/slicknav.min.css" type="text/css">
		<link rel="stylesheet" href="../../css/style.css" type="text/css">
	{% endblock %}


	<body>
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>
		<!-- Offcanvas Menu Begin -->
		<div class="offcanvas-menu-overlay"></div>
		<div class="offcanvas-menu-wrapper">
			<div class="offcanvas__widget">
				<a href="#" class="primary-btn">Voir mes Favoris</a>
			</div>
			<div class="offcanvas__logo">
				<a href="{{ path('index')}}"><img src="../../img/logo.png" alt=""></a>
			</div>
			<div id="mobile-menu-wrap"></div>
			<div class="offcanvas__phone__num">
				<i class="fa fa-phone"></i>
				<span>
					<a href="tel:0762972691">(+33) 7 62 97 26 91</a>
				</span>
				<br>
				<span>
					<i class="fa fa-envelope-o"></i>
					wbelbeche.s@gmail.com</li>
			</span>
		</div>
		<div class="offcanvas__social">
			<a href="#">
				<i class="fa fa-facebook"></i>
			</a>
			<a href="https://www.linkedin.com/in/walid-belbeche/">
				<i class="fab fa-linkedin"></i>
			</a>
			<a href="https://www.youtube.com/user/DayzerMC">
				<i class="fab fa-youtube"></i>
			</a>
			<a href="https://www.instagram.com/wbelbeche94/">
				<i class="fa fa-instagram"></i>
			</a>
		</div>
	</body>
</html></div><header class="header">
<div class="header__top">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<ul class="header__top__widget">
					<li>
						<i class="fa fa-clock-o"></i>
						Ici prouvez la pleine puissance de vos véhicules !</li>
					<li>
						<i class="fa fa-envelope-o"></i>
						wbelbeche.s@gmail.com</li>
				</ul>
			</div>
			<div class="col-lg-5">
				<div class="header__top__right">
					<div class="header__top__phone">
						<i class="fa fa-phone"></i>
						<span>(+33) 7 62 97 26 91</span>
					</div>
					<div class="header__top__social">
						<a href="#">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="#">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="#">
							<i class="fa fa-google"></i>
						</a>
						<a href="#">
							<i class="fa fa-instagram"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-2">
			<div class="header__logo">
				<a href="{{ path('index')}}"><img src="../../img/logo.png" alt="top-achat"></a>
			</div>
		</div>
		<div class="col-lg-10">
			<div class="header__nav">
				<nav class="header__menu">
					<ul>
						<li class="active">
							<a href="{{ path('index')}}">Accueil</a>
						</li>
						<li>
							<a href="./car.html">Top sélections !</a>
						</li>
						<li>
							<a href="./blog.html">Barometres</a>
						</li>
						<li>
							<a href="./blog.html">Forum</a>
						</li>
					</li>
					<li>
						<a href="./contact.html">Assistance</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<div class="canvas__open">
	<span class="fa fa-bars"></span>
</div>
{% block body %}{% endblock %}
<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.nice-select.min.js"></script>
<script src="../../js/jquery-ui.min.js"></script>
<script src="../../js/jquery.magnific-popup.min.js"></script>
<script src="../../js/mixitup.min.js"></script>
<script src="../../js/jquery.slicknav.js"></script>
<script src="../../js/owl.carousel.min.js"></script>
<script src="../../js/main.js"></script></body></html>
